<div class="exercise-view">
  <header class="exercise-heading">
    <h2 class="exercise-title">{{title}}</h2>
    <div class="run-commands">
      <code class="run-command" style="font-weight:bold"># run the following commands to begin the exercise.</code><br>
      <code class="run-command">git clone {{cloneUrl}}</code><br>
      <code class="run-command">cd {{exerciseName}}</code><br>
      <code class="run-command">./go.sh</code><br>
      <code class="run-commant" style="font-weight:bold"># run ./go.sh again to restart the exercise</code>
    </div>
  </header>
  <div class="timer-wrap">
    <span class="timer">{{{timeLimit}}}</span>
  </div>
  <div class="exercise-steps-container">
    <ol class="exercise-steps">
      {{#each steps}}
      <li class="exercise-step" data-statename="{{this.name}}">
        <div class="step-number">{{{../stepIndex}}}</div>
        <span class="step-desc">{{{this.desc}}}</span>
        <p class="feedback"></p>
      </li>
      {{/each}}
      <li class="exercise-step done" data-statename="done">
        <div class="step-number">&#10003;</div>
        <span class="step-desc">Done! Run <code>cd ..</code> to leave the repo.</span>
      </li>

    </ol>
  </div>
</div>
